<form id="GET-ONE" class="w-100" >
    <div class="form-group ">
        <label class="form-label" for="select">Via</label>
        <select class="form-select" name="select">
            <option value="rut" selected >Rut</option>
            <option value="mascota">Nombre de mascota</option>
        </select><br>
    </div>
    <div class="form-group">
        <label class="form-label" for="id"></label>Buscar a:
        <input class="form-control" type="text" name="id" required><br>
    </div>
    <input type="submit" value="BUSCAR" class="btn btn-primary" id="btn-get-one">
</form>
<table class="table" id="table-un-duenio-mascotas">
    <thead>
        <tr>
            <th>Rut dueño</th>
            <th>Nombre de mascota</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
