<button class="btn btn-primary" id="btn-get-duenio-mascota">Obtener todos los dueños y mascotas</button>
<table class="table" id="table-duenio-mascotas">
    <thead>
        <tr>
            <th>Rut dueño</th>
            <th>Nombre de mascota</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
