<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>Dueños y mascotas</h2>
  <p>
    This is a simple hero unit, a simple Hero-style component for calling extra
    attention to featured content or information.
  </p>

  <hr class="my-4" />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid asperiores officia saepe. Repellendus corrupti beatae suscipit a quod, ab ratione et. Neque deleniti impedit blanditiis, soluta aut dolorum ratione quasi.
  </p>
  <a href="/lista-mascotas">
    <button type="button" class="btn btn-primary">
      Ir a /lista-mascotas
    </button>
  </a>

</div>