<div class="col-12 d-flex p-4">
    <div class="col-3">
        {{> form-agregar}}
    </div>
    <div class="col-3">
        {{> tabla-datos}}
    </div>
    <div class="col-3">
        {{> form-buscar}}
    </div>
        <div class="col-3">
        {{> form-eliminar}}
    </div>
</div>
<script src="crud-mascotas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>